# Ignore MacOS files
.DS_Store

# Ignore logs
*.log
nohup.out
.vsco
de/
.idea
data/
db.sqlite3

# JS
node_modules/
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
.env

# Python
__pycache__/
.pytest_cache/
.ipynb_checkpoints/
.venv

brownie/build

# Docker
.Dockerfile
